<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../../static/js/jquery-2.2.3.js"></script>
    <meta charset="UTF-8">
    <title>统计</title>
    <style>
        .td{width:60px;overflow:auto}
    </style>
</head>
<body>
    <div id="container" style="width:1000px;margin-left: 20px;margin: 0 auto;">
        <div id="header" style="background-color:#FFA100;">
            <h1 style="margin-bottom:0;text-align: center">桐庐县第二人民医院</h1></div>
        <div id="footer" style="background-color:rosybrown;clear:both;text-align:center;">
            超声统计表
        </div>
        <div  style="background-color:white;height:20px;width:1000px; float:left;">
        </div>
        <script>
            {# 计算时间#}
            function countdate() {
                if ((document.getElementById("date1").firstElementChild.value ) && (document.getElementById("date2").firstElementChild.value)) {
                    var date1 = document.getElementById("date1").firstElementChild.value;
                    var date2 = document.getElementById("date2").firstElementChild.value;
                    var startTime = new Date(Date.parse(date1.replace(/-/g, "/"))).getTime();
                    var endTime = new Date(Date.parse(date2.replace(/-/g, "/"))).getTime();
                    var dates = Math.abs((startTime - endTime)) / (1000 * 60 * 60 * 24);
                    document.getElementById("date3").innerHTML = dates;
                }
            }
        </script>
        <form action="?action=add"> {% csrf_token %}
            <div  style="background-color:#FFD700;height:20px;width:180px;float:left;text-align: center"> 开始日期
            </div>
            <div id="date1" style="background-color:#EEEEEE;width:180px;float:left;text-align: center">
                <input id="startDate" type="date" name="startDate" onchange="countdate()" value={{table_startDate}} /></div>
            <div  style="background-color:#FFD700;height:20px;width:180px;float:left;text-align: center"> 结束日期
            </div>
            <div id="date2" style="background-color:#EEEEEE ;width:180px;float:left;text-align: center">
                <input id="endDate" type="date" name="endDate" onchange="countdate()" value={{ table_endDate}} /></div>
            <div  style="background-color:#FFD700;height:20px;width:140px;float:left;text-align: center"> 天数
            </div>
            <div id="date3" style="background-color:#EEEEEE;height:20px;width:140px;float:left;text-align: center">
                <script>
                     if ((document.getElementById("date1").firstElementChild.value ) && (document.getElementById("date2").firstElementChild.value)) {
                    var date1 = document.getElementById("date1").firstElementChild.value;
                    var date2 = document.getElementById("date2").firstElementChild.value;
                    var startTime = new Date(Date.parse(date1.replace(/-/g, "/"))).getTime();
                    var endTime = new Date(Date.parse(date2.replace(/-/g, "/"))).getTime();
                    var dates = Math.abs((startTime - endTime)) / (1000 * 60 * 60 * 24);
                    document.getElementById("date3").innerHTML = dates;
                }
                </script>
            </div>
            <div  style="background-color:white;margin: 10px; width:1000px; float:left;">
{#                <input id="bodypart" name="bodypart" type="text" style="float: left" placeholder="请输入部位：" value={{ table_bodypart }} >#}
                <div style="float: left">检查部位：</div>
                <div style="float: left">
                    <select id="bodypart" name="bodypart" style="width: 100px; float: left; ">
                        <option value="全部" selected ="selected">全部</option>
                        {% for name in bodyparts %}
                            <option value="{{ name}}">{{ name}}</option>
                        {% endfor %}
                     </select>
                </div>
                <div style="float: left">&nbsp;&nbsp;&nbsp;医生：</div>
                <div style="float: left">
                    <select id="doctor" name="doctor" style="width: 100px;">
                        <option value="全部" selected ="selected">全部</option>
                        {% for name in doctors %}
                            <option value="{{ name}}">{{ name}}</option>
                        {% endfor %}
                     </select>
                </div>
                <div style="float: left; padding-left: 30px">
                    <input  type="submit" value="统计" formmethod="post" style="width: 180px;" style="float: left;">
                </div>

            </div>
        </form>
        <div style="margin: auto">
            <table border="1" style="top: 20px;text-align: center;width: 1000px" >
                <tr style="background-color: darkgoldenrod;width: 1000px;">
                    <td>姓名</td><td>部位</td><td>检查时间</td>
                </tr>
                {% for row in table_tongji %}
                    <tr style="background-color: cornflowerblue">
                    {% for td in row %}
                        <td>{{ td }}</td>
                    {% endfor %}
                    </tr>

                {% endfor %}
                <tr style="background-color: burlywood"><td>总计</td>
                        <td>{{table_count}}</td>
            </table>
        </div>
    </div>
</body>
</html>