a:link {color: white;text-decoration:none;}    /* unvisited link */
a:visited {color: white;text-decoration:none;} /* visited link */
a:hover {color: white;text-decoration:none;}   /* mouse over link */
a:active {color: white;text-decoration:none;}  /* selected link */


